/*==========================*/
/* RESPONSIVE CONTAINER */
/*==========================*/
.container {
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	margin-left: auto
}

@media (min-width: 576px) {

	.container {
		max-width: 540px
	}
}

@media (min-width: 768px) {

	.container {
		max-width: 720px
	}

	.flex__wrap .flex__wrap__item__1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 58.3333333333%
	}

	.flex__wrap .flex__wrap__item__2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: 41.6666666667%
	}
}

@media (min-width: 992px) {

	.container {
		max-width: 960px
	}
}

@media (min-width: 1200px) {

	.container {
		max-width: 1140px
	}
}

@media (min-width: 1400px) {

	.container {
		max-width: 1320px
	}
}

/*==========================*/
/* DONATION FORM STYLE */
/*==========================*/
@media (max-width: 1199px) {

	.donation__form .donate__dollar__btn button {
		width: 10.5rem !important;
	}

}

@media (max-width: 991px) {

	.donation__form {
		min-height: 47.8rem;
	}

	.donation__form label {
		font-size: 1rem;
	}

	.donation__form .donate__dollar__btn button {
		width: 7.5rem !important;
	}

	.donation__form__select {
		width: 30%;
	}

	.donation__form__input {
		width: 67%;
	}

	.donate__img img {
		height: 47.8rem;
	}
}

@media (max-width: 767px) {

	.donate__options,
	.donate__select,
	.donate__dollar__btn,
	.donate__dollar__box {
		margin-bottom: 2rem;
	}

	.donation__form {
		min-height: auto;
	}

	.donation__form label {
		font-size: 1.4rem;
	}

	.donation__form .donate__dollar__btn button {
		width: 10rem !important;
	}

	.donate__img img {
		height: auto !important;
	}
}

@media (max-width: 575px) {

	.btn__primary {
		font-size: 1.6rem;
	}
}

@media (max-width: 522px) {

	.donation__form {
		padding: 3rem 1.5rem;
	}

	.donation__form .donate__dollar__btn button:not(:last-child) {
		margin-right: 1rem;
	}

	.donation__form__select {
		width: 35%;
	}

	.donation__form__input {
		width: 62%;
	}

	.donate__img img {
		height: auto !important;
	}
}

@media (max-width: 439px) {
	.donate__options__item:first-child {
		margin-right: 2rem;
	}
}

@media (max-width: 429px) {
	.donate__options__item:first-child {
		margin-right: 1rem;
	}
}

@media (max-width: 419px) {
	.donate__options {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.donate__options__item:first-child {
		margin-right: 0rem !important;
		margin-bottom: 1.5rem !important;
	}

	.donate__options__item {
		width: 100%;
	}
}
